* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.content .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.content .title h1{
    font-family: sans-serif;;
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: #000000;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    grid-auto-rows: 150px; 
    gap: 10px;
    max-width: 90vw; 
    grid-auto-flow: dense; /* ✅ Llena espacios en blanco */
}

.gallery div {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);;
}

.gallery .gallery-img-small{
    grid-column: span 1;
}

.gallery .gallery-img-wide {
    grid-column: span 2;
}

.gallery .gallery-img-tall {
    grid-row: span 2;
}

.gallery .gallery-img-big{
    grid-column: span 2;
    grid-row: span 2;
}

.gallery div:hover {
    transform: scale(1.02);
    filter: brightness(0.8);
}